.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel {
  width:500px;
  height:500px;
  margin-left: auto;
  margin-right: auto;
}

.carousel2 {
  border-bottom: solid 2px black;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-indicators{
  display: none;
}

.carousel-control {
  display: none;
}
