.container {
width: 100%;
}
.about, .work, .contact {
position: relative;
top: 7px;
font-size: 25px !important;
}
@media only screen and (max-width: 767px) {
  .about, .work, .contact  {
    font-size: 20px !important;
    font-weight: 400;
    color: black !important;

  }
}
.navBar {
  position: relative;
}
/* .navlnk {
position: absolute;
top: 50px;
} */
nav.navbar, .navbar-default {
  background-color: white !important;
}
.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-brand {
  color: black;
  font-size: 2.8em !important;
  font-family: 'PatrickHand-Regular';
}

.said:hover{
  /* border-bottom: 2px solid; */
}

.work {
  font-size: 15px;
}

.work:hover{
/*  border-bottom: .2px solid;*/
}

.about {
  font-size: 15px;
}

.about:hover{
  /*border-bottom: .2px solid;*/
}

.navlnk:hover {
  text-decoration: none;
}

.contact {
  font-size: 15px;
}

.contact:hover{
/*  border-bottom: .2px solid;*/
}

a {
  text-decoration: none;
  color: inherit;
}



a:hover {
  color: inherit;
}

a:visited{
/*  color: inherit;*/
}


.navbar-default .navbar-toggle {
  
  border: none;
  /* border-color: black; */
}
@media only screen and (max-width: 767px) {
  .navbar-default .navbar-toggle {
    position: relative;
    top: 6px;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default {
  color: inherit;
  background-color: transparent;
}

.said:hover {
  color: grey;
  background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:visited {
  color: inherit;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: grey;
  background-color: transparent;
}

.name-logo {
 /*border-bottom: black 2px solid;*/
 margin: none;
 padding: none;
}

.container {
  height: none !important;
}
.navbar-toggle .icon-bar {
width: 25px;
height: 3px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none !important;
  height: 100vh;
  z-index: 2;
}
@media only screen and (max-width: 767px) {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    position: absolute;
    padding-left: 25px;
    background-color: white;opacity:0.9;
    width: 100%;
    /* height: 100vh; */
    overflow: auto;
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
      -o-transition: height 1s ease;
     -ms-transition: height 1s ease;
         transition: height 1s ease;
  }
}
.navlnk {

}
@media only screen and (max-width: 767px) {
  .navlnk {
    /* padding-left: 12.5px; */
  }
}
.nav li ul li {
  overflow:hidden;
  max-height:0;
  -webkit-transition:max-height 500ms ease;
  -moz-transition:max-height 500ms ease;
  -o-transition:max-height 500ms ease;
  transition:max-height 500ms ease;
}